<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://cxf.apache.org/jaxrs
                           http://cxf.apache.org/schemas/jaxrs.xsd
                           http://cxf.apache.org/jaxws
                           http://cxf.apache.org/schemas/jaxws.xsd
                           http://www.springframework.org/schema/util
						   http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    
	<!-- Database Configuration -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>/WEB-INF/pointofsalews.properties</value>
		</property>            
    </bean>
    
    <util:properties id="posProperties" location="/WEB-INF/pointofsalews.properties" />
	
	<!-- Auto scan the components -->
	<context:component-scan 
		base-package="com.gigaware" />
        
        <jaxrs:server id="items" address="/items">
            <jaxrs:providers>
                <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
            </jaxrs:providers>
            
            <jaxrs:serviceBeans>
                <ref bean = "salesItemWebService" />
            </jaxrs:serviceBeans>

            <jaxrs:extensionMappings>
                <entry key="xml"  value="application/xml"   />
                <entry key="json" value="application/json"  />
            </jaxrs:extensionMappings>
                    
                    
        </jaxrs:server>

        <jaxrs:server id="helloWorld" address="/helloWorldWebService">
            <jaxrs:providers>
                <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
            </jaxrs:providers>
            
            <jaxrs:serviceBeans>
                <ref bean = "helloWorldWebService" />
            </jaxrs:serviceBeans>

            <jaxrs:extensionMappings>
                <entry key="xml"  value="application/xml"   />
                <entry key="json" value="application/json"  />
            </jaxrs:extensionMappings>
                    
                    
        </jaxrs:server>

</beans>